* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Rubik;
    src: url("../fonts/Rubik/Rubik80sFade-Regular.ttf");
}

html{
    scroll-behavior: smooth;
}
/* 
font-family: Rubik, sans-serif;

*/
main{
    background-image: url("../img/logo.jpg");
    background-position: center;
    background-size: contain;
    background-color: rgba(56, 186, 95, 0.107);
    
}
header h1 {
    background-color: brown;
    font-family: Rubik, sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 10px;
    color: yellowgreen;
}

article {
    background-color: yellow;
    display: inline-block;
    width: 250px;
    height: 300px;
    padding-left: 30px;
    font-size: 20px;
}

section {
    background-color: rgba(27, 133, 61, 0.571);
    border: 2px solid rgb(216, 126, 141);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgb(0, 255, 51);
    display: inline-block;
    margin: 5px;

    width: 1 min-content;
}

section::first-line {
    font-size: 20px;
    color: blue;
    font-family: Rubik, sans-serif;
}

section:hover{
    background-color: gold;
}

section a{
    display: block;
    text-align: right;
    text-decoration: dotted;
}

.kacheln {}

.randleiste {}